---
layout: V2
title:
---
{% include head.html %}

<!-- <form style="text-align:center;" -->
<!--   action="https://tinyletter.com/martinklepsch" method="post" -->
<!--   target="popupwindow" -->
<!--   onsubmit="window.open('https://tinyletter.com/martinklepsch', 'popupwindow', -->
<!--   'scrollbars=yes,width=800,height=600');return true"> -->

<!--   <input type="text" style="width:140px" placeholder="your@email.com" name="email" id="tlemail" /> -->
<!--   <input type="hidden" value="1" name="embed"/> -->
<!--   <input type="submit" value="Subscribe" /> -->
<!-- </form> -->

{% for post in paginator.posts %}
<!-- {% unless post.categories contains 'draft' %} -->
<article>
<h1>
  <span class="date"><a href="{{ post.url }}" alt="{{ post.title }} permalink page">{{ post.date | date: "%B %Y" }}</a></span>
  {% if post.resource %}
  {{ post.title }} <a class="icon" href="{{ post.resource}}" alt="Link to external resource"
    target="blank">&#10150;</a>
  {% else %}
    {{ post.title }}
  {% endif %}
</h1>
<section class='post_content'>
{{ post.content }}
</section>
</article>
<hr>
<!-- {% endunless %} -->
{% endfor %}



<section id="pagination">
{% if paginator.total_pages > 1 %}
<p>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path  | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  {% else %}
    <span>&laquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <strong>{{ page }}</strong>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path  | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  {% else %}
  <span>&raquo;</span>
  {% endif %}
</p>
{% endif %}
</section>
