{% if index and entry.categories contains 'linked' %}
  <section class="linked">
{% elsif index %}
  <section>
{% elsif entry.categories contains 'linked' %}
  <article class="linked">
  {% else %}
  <article class="post">
{% endif %}


{% if entry.categories contains 'linked' %}
  <h1>
    <a href="{{entry.resource}}">{{ entry.title }}</a>
    <span class="entypo"><a href="{{entry.url}}" alt="Permalink to {{entry.title}}">'</a></span>
  </h1>
{% else %}
  <h1>
    <a href="{{ entry.url }}" alt="{{ entry.title }}">{{ entry.title }}</a>
    <!-- <span class="date">{{ post.date | date_to_string }}</span> -->
    <!-- <span class="entypo">l</span> -->
  </h1>
{% endif %}
