---
---
@import "reset";
@import "../bower_components/hint.css/hint.min.css";

$strong: hsl(0, 0%, 10%);
$dark: hsl(0, 0%, 20%);
$base: hsl(10, 89%, 80%);

// Table of Contents
// 1. Typography
// 2. Colors
// 3. Layout
// 4. Other

// 1. Typography

body {
  font-family: 'adelle-1', serif;
  font-size: 16px;
  line-height: 1.7em;
  text-rendering: optimizeLegibility;
  color: $dark;
}

strong { font-weight: bold }
em { font-style: italic }

h1,blockquote,aside,.awesome {
  // NOTE Source Sans Pro might also be an option
  font-family: 'Open Sans', sans-serif;
}

#me, #pagination { text-align: center; }

h1 {
  font-weight:300;
  line-height: 1.2em;
  font-size: 3em;
  .icon { font-size: 1.3em; }
}

.date {
  display: block;
  font-size: 1rem;
  color: grey;
}

article > h1 {
  font-family: 'adelle-1', serif;
  font-size: 1.5rem;
  text-decoration: none;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}


.gist,code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.8em;
  line-height: 1.5em;
  table { margin: 0; }
}

blockquote {
  line-height: 1.7em;
  p {
    background: #F4F6B2;
    display: inline;
    padding: 1px;
  }
  cite {
    // padding: 1em 0 1em 0;
    font-size: .825em;
    &:before {
      content: "\2014 \0020";
    }
  }
}

#archive {
  li    { padding: 0.5em 0; }
  .date { color: lighten($dark, 30%); display: block }
}

input {
  margin: 1em;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid lighten($dark, 30%);
  background: none;
  &:focus {
    outline: none;
    border-color: blue;
  }
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;

}

// Links
a {
  color: lighten($dark, 10%);
  text-decoration: none;
  border-bottom: 1px solid lighten($dark, 60%);
  &:hover {
    border-bottom: 1px solid lighten($dark, 20%);
  }
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

::selection {
  background: lighten($dark, 70%);
  color: darken($dark, 40%);
}

// Tables

table {
  margin: 2em 0 1em 0;
  @extend .wider;

  th { font-weight: bold }
  th, td { padding: 0.3em 1em; }
  tr { border-bottom: 1px solid lighten($dark, 60%); }
  tbody tr:last-child { border-bottom: none; }
}

// 3. Layout

.wider {
  margin-left: auto;
  margin-right: auto;
  padding: 2em 20px 1em 20px;
  max-width: 640px;
}

* { box-sizing: border-box; -moz-box-sizing: border-box; }

h1,h2,h3,h4,h5,h6,aside,.gist,article > p, section > p,img,ul,ol,pre,.awesome,blockquote {
  margin: auto;
  max-width: 940px;
}

#container { margin-bottom: 100px; }


h1,h2,h3,h4,h5,h6,.gist{
  padding: 2em 20px 1em 20px;
  max-width: 640px;
}
h1,h2,h3,h4,h5,h6, figure {
  padding: 2em 2em 1em 2em;
}

section > p, ul, ol {
  max-width: 500px;
  padding: 2em 2em 1em 2em;
}

figure {
  padding-left: 0;
  padding-right: 0;

  img, figcaption {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 550px;
  }
  figcaption{
    padding: 0 .4em;
    font-family: 'Open Sans', sans-serif;
    font-size: .825em;
    color: lighten($dark, 30%);
    border: 1px solid lighten($dark, 60%);
    border-top: none;
  }
}

ul { list-style-type: circle }

ol {
  padding: 1em 2em;
  list-style-type: decimal;
  li { padding: .5em 0 }
}

h2,h3,h4,h5,h6,aside,pre, blockquote {
  max-width: 500px;
}

aside, pre, blockquote {
  padding: 1em 20px 1em 20px;
}

blockquote {
  position: relative;
  cite {
    padding: 1em 10px 0 10px;
    display: block;
    position: absolute;
    right: 0;
  }
}

section.subscribe {
  text-align: center;
}
article {
  padding: 4em 0 4em 0;
  &#me { padding: 4em 0 4em 0; }
  margin: auto;
  section > p:nth-child(1) {
    color: $strong;
    font-size: 1.1em;
    line-height: 1.7em;
  }
}

hr { display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid lighten($dark, 70%);
  margin: 1em 20%;
  padding: 0;
}

article .media {
  text-align: center;
  img {
  max-width: 680px;
  width: 94%;
}}

// properly align twitter & facebook buttons
.social {
  display: none;
  iframe { vertical-align: top; }
  .fb-like, .twitter { font-size: 1px; display: inline-block; }
  .fb_reset { display: inline; }
}


// maybe just inline this into the frontpage
.ragged-icon {
  float: left;
  text-align: center;
  margin: 0 0 0 -2em;
  padding: 10px 0;
}

// Make Embedded Content Responsive
// maybe just use fitvids.js or something alike
///////////////////////////////////////////////

.responsive-embed {
  margin: auto;
  max-width: 550px;
  position: relative;
  padding-bottom: 24.2%;
  height: 0;
  overflow: hidden;
}

.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.awesome {
  margin-top: 2em;
  text-align: center;
  a {
    width: 2em; height: 2em;
    padding-top: 0.55em;
    border-radius: 999px;
    text-transform: uppercase;
    background-color: lighten($dark, 60%);
    color: lighten($dark, 95%);
    &:hover {
      border: 1px solid lighten($dark, 70%);
      background: none;
      text-decoration: none;
    }
  }
  input[type=text] { margin-right: 0; }
  input[type=submit]:hover { cursor: pointer; }
}

// Tooltips

.hint:after, [data-hint]:after {
  font-family: 'Open Sans', sans-serif;
  box-shadow: none;
  border-radius: 3px
}
.hint--bottom:before, .hint--bottom:after { left: 25%; }

// Entypo @font-face

@font-face {
  font-family: 'entypo';
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format('embedded-opentype'), url("../fonts/entypo.woff") format('woff'), url("../fonts/entypo.ttf") format('truetype'), url("../fonts/entypo.svg#entypo") format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  font-size: 2.3em;
  text-align: center;
  line-height: 1em;
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  border: none;
  &:hover {
    border: none;
  }
}
