@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "./bb-src/**";

:root {
 --color-accent-1: oklch(9.14% 0.2105 175.47);
 --color-accent-2: oklch(17.70% 0.2260 199.47);
 --color-accent-3: oklch(26.27% 0.2415 223.47);
 --color-accent-4: oklch(34.83% 0.2570 247.47);
 --color-accent-5: oklch(43.40% 0.2725 271.47);
 --color-accent-6: oklch(51.96% 0.2880 295.47);
 --color-accent-7: oklch(62.67% 0.3074 280.47);
 --color-accent-8: oklch(73.38% 0.3268 265.47);
 --color-accent-9: oklch(84.08% 0.3461 250.47);
 --color-accent-10: oklch(94.79% 0.3655 235.47);
}

@theme {
  --color-primary: var(--color-accent-6);
  --color-error: var(--color-red-500);
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: fadeOut 0.3s ease-out forwards;
  animation-delay: 0s;
}

::view-transition-new(root) {
  animation: fadeIn 0.3s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
