---
import X from "@/img/x.svg";
import Bluesky from "@/img/bluesky.svg";
import Github from "@/img/github.svg";
import LinkedIn from "@/img/linkedin.svg";
---

<footer
    class="w-full bg-white flex flex-col items-center justify-end mt-12 sticky border-t border-slate-200"
>
    <ul class="flex justify-center px-6 py-8 space-x-8 text-slate-400/70">
        <li class="hover:text-black transition-colors duration-600">
            <a href="https://x.com/martinklepsch" target="_blank">
                <X />
            </a>
        </li>
        <li class="hover:text-[#0c84fc] transition-colors duration-600">
            <a
                href="https://bsky.app/profile/martinklepsch.org"
                target="_blank"
            >
                <Bluesky />
            </a>
        </li>
        <li class="hover:text-slate-600 transition-colors duration-600">
            <a href="https://github.com/martinklepsch" target="_blank">
                <Github />
            </a>
        </li>
        <li class="hover:text-[#0077B5] transition-colors duration-600">
            <a
                href="https://www.linkedin.com/in/martin-klepsch-b59134268/"
                target="_blank"
            >
                <LinkedIn />
            </a>
        </li>
    </ul>
</footer>
