<div
    class="flex justify-between mt-8 mb-16 items-baseline max-w-5xl mx-auto px-6"
>
    <a class="group" href="/" title="Home" style="view-transition-name: logo">
        <h1 class="text-xl font-semibold tracking-tight">Mostly clueless</h1>
        <div
            class="font-serif text-sm text-slate-500 italic group-hover:translate-x-1 transition-all duration-250 ease-out group-hover:text-primary"
        >
            but curious to find out
        </div>
    </a>
    <div style="view-transition-name: socials">
        <a
            href="https://bsky.app/profile/martinklepsch.org"
            target="_blank"
            class="hover:text-[#0c84fc] hover:scale-125 duration-800 transition-all ease-out"
        >
            <svg
                data-icon="fa6-brands:bluesky"
                height="1em"
                viewBox="0 0 576 512"
                width="1.13em"
            >
                <symbol id="ai:fa6-brands:bluesky">
                    <path
                        d="M407.8 294.7c-3.3-.4-6.7-.8-10-1.3c3.4.4 6.7.9 10 1.3M288 227.1c-26.1-50.7-97.1-145.2-163.1-191.8C61.6-9.4 37.5-1.7 21.6 5.5C3.3 13.8 0 41.9 0 58.4S9.1 194 15 213.9c19.5 65.7 89.1 87.9 153.2 80.7c3.3-.5 6.6-.9 10-1.4c-3.3.5-6.6 1-10 1.4c-93.9 14-177.3 48.2-67.9 169.9C220.6 589.1 265.1 437.8 288 361.1c22.9 76.7 49.2 222.5 185.6 103.4c102.4-103.4 28.1-156-65.8-169.9c-3.3-.4-6.7-.8-10-1.3c3.4.4 6.7.9 10 1.3c64.1 7.1 133.6-15.1 153.2-80.7C566.9 194 576 75 576 58.4s-3.3-44.7-21.6-52.9c-15.8-7.1-40-14.9-103.2 29.8C385.1 81.9 314.1 176.4 288 227.1"
                        fill="currentColor"></path>
                </symbol>
                <use xlink:href="#ai:fa6-brands:bluesky"></use>
            </svg>
        </a>
    </div>
</div>
