---
import Bluesky from "@/img/bluesky.svg";
---

<div
    class="flex justify-between mt-8 mb-16 items-baseline max-w-5xl mx-auto px-6"
>
    <a class="group" href="/" title="Home" style="view-transition-name: logo">
        <h1 class="text-xl font-semibold tracking-tight">Mostly clueless</h1>
        <div
            class="font-serif text-sm text-slate-500 italic group-hover:translate-x-1 transition-all duration-250 ease-out group-hover:text-primary"
        >
            but curious to find out
        </div>
    </a>
    <div style="view-transition-name: socials">
        <a
            href="https://bsky.app/profile/martinklepsch.org"
            target="_blank"
            class="hover:text-[#0c84fc] hover:scale-125 duration-800 transition-all ease-out"
        >
            <Bluesky />
        </a>
    </div>
</div>
