<!DOCTYPE html>
<head>

  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} — Martin Klepsch | {% endif %} Martin Klepsch</title>
  <meta name="description" content="Personal Website and Blog of Martin Klepsch">
  <meta name="author" content="Martin Klepsch">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/stylesheets/martinklepschorg.css">

  <!-- Arvo -->
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <!-- Favicons -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/jquery-waypoints/waypoints.min.js"></script>
  <script src="/js/raphael.js"></script>
  <script src="/js/martinklepschorg.js"></script>
</head>
<body>
  <div class="container">
    <nav class="four columns">
    <div id="pseudologo">
      </div>
      <ul>
        <!-- <li><a href="/work.html">Work</a></li> -->
        <li><a href="/about.html">About</a></li>
        <li><a href="/archive.html">Archive</a></li>
        <li><a href="/Martin_Klepsch_Resume.pdf">Resume</a></li>
        <li><a href="http://twitter.com/mklappstuhl">Twitter</a></li>
        <li><a href="mailto:martinklepsch+martinklepsch.org@googlemail.com"
          alt="Send me an email">Email</a></li>
      </ul>
    </nav>
    <div class="nine columns">
      {{ content }}
      <hr>
      <footer id="copyright">
      <p>© 2012 Martin Klepsch. Licensed under a BY-NC-SA Creative Commons License.
      </p>
      </footer>
    </div>
  </div>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
     var t   = document.createElement('script');
     t.type  = 'text/javascript';
     t.async = true;
     t.id    = 'gauges-tracker';
     t.setAttribute('data-site-id', '50168223613f5d33ed000004');
     t.src = '//secure.gaug.es/track.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(t, s);
     })();
</script>
</body>
</html>
