---
layout: V2
---
{% include head.html %}

<article>
<h1>
  <span class="date">{{ page.date | date: "%B %Y"}}</span>
  {% if page.resource %}
  {{ page.title }}<a class="icon" href="{{ page.resource}}" alt="Link to external resource"
    target="blank">&#10150;</a>
  {% else %}
    {{ page.title }}
  {% endif %}
</h1>

<section class='post_content'>
  {{ content }}
</section>
<!-- <a href="{{ site.github | append: page.path }}">Changelog</a> -->
<span class="article__signoff"><a href="https://twitter.com/martinklepsch">@martinklepsch</a>, {{ page.date | date: "%B %Y"}}</span>
</article>
