<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} — Martin Klepsch | {% endif %} Martin Klepsch</title>
  <meta name="description" content="Personal Website and Blog of Martin Klepsch">
  <meta name="author" content="Martin Klepsch">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/stylesheets/martinklepschorg-v2.css">
  <script type="text/javascript" src="//use.typekit.net/sjm2tka.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <!-- Favicons -->
  <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body class="tl-adelle">
  <div id="container">
    {{ content }}
  </div>
  {% if (page.url != "/index_new.html") %}
    <div id="hibar">
      <p>
      <a class="icon-chat" href="mailto:martinklepsch@googlemail.com"></a>
        Hi, I&rsquo;m <a href="/">Martin</a>. Nice to meet you.</p>
    </div>
  {% endif %}
</body>
</html>
